.recovered fa-icon {
    color: #198754;
}
.flag {
    width: 6.6rem;
    height: 6rem;
    margin-right: 1em;
    align-items: center;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}
.flag img {
    background: none !important;
    border: none !important;
    object-fit: cover;
    height: 90%;
}
.county-title-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
}
.county-body-wrapper div {
    text-align: center;
}
.county-title {
    font-size: 2rem !important;
    font-weight: 600 !important;
}
@media only screen and (max-width: 800px) {
    .county-title {
        font-size: 1.6rem !important;
    }
}
.card-box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    border-radius: 6px !important;
    border: none !important;
    margin-bottom: 1rem;
    padding: 1rem;
}
.card-box .card-text {
    font-size: 3rem;
    font-weight: 600;
}
.card-box .card-title {
    margin-top: .5rem;
}