
<div class="county-title-wrapper">
    <div class="flag">
        <img src="{{weekStatisticsData.flageImg}}" alt="flag" class="img-thumbnail">
    </div>
    <div>
        <h3 class="county-title">{{ weekStatisticsData.name }}</h3>
    </div>
</div>
<div class="row mt-4">
    <div class="col-lg-4 col-sm-12">
    <div class="card-box cases">
        <div>
            <fa-icon [icon]="faUsers" size="3x"></fa-icon>
            <h2 class="card-title">Cases</h2>
        </div>
        <div style="flex-grow: 8">
            <p class="card-text">{{weekStatisticsData.cases}}</p>
        </div>
    </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="card-box">
            <div>
                <fa-icon [icon]="faRibbon" size="3x"></fa-icon>
                <h2 class="card-title">Deaths</h2>
            </div>
            <div style="flex-grow: 8">
                <p class="card-text">{{weekStatisticsData.deaths}}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="card-box recovered">
            <div>
                <fa-icon [icon]="faHeart" size="3x"></fa-icon>
                <h2 class="card-title">Recovered</h2>
            </div>
            <div style="flex-grow: 8">
                <p class="card-text">{{weekStatisticsData.recovered}}</p>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Cases</h2>
                <ngx-charts-bar-vertical 
                    [results]="weekStatisticsData.chartData" 
                    [xAxis]="true" 
                    [yAxis]="true"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel">
                </ngx-charts-bar-vertical>
            </div>
        </div>
    </div>
</div>
